[submodule "src/scout_ros2"]
	path = src/scout_ros2
	url = git@github.com:westonrobot/scout_ros2.git
[submodule "src/ugv_sdk"]
	path = src/ugv_sdk
	url = git@github.com:westonrobot/ugv_sdk.git
[submodule "src/tuda_workspace_scripts"]
	path = src/tuda_workspace_scripts
	url = git@github.com:StefanFabian/tuda_workspace_scripts.git
[submodule "src/flir_gige"]
	path = src/flir_gige
	url = git@github.com:FelipeGdM/flir_gige.git
[submodule "src/er_gstreamer_camera"]
	path = src/er_gstreamer_camera
	url = git@git.sim.informatik.tu-darmstadt.de:hector/er_gstreamer_camera.git
[submodule "src/bluespace_ai_xsens_ros_mti_driver"]
	path = src/bluespace_ai_xsens_ros_mti_driver
	url = git@github.com:bluespace-ai/bluespace_ai_xsens_ros_mti_driver.git
[submodule "src/camera_base"]
	path = src/camera_base
	url = git@github.com:FelipeGdM/camera_base.git
